@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        background: #0f172a;
        min-height: 100vh;
    }

    .glass-card {
        background: #111827;
        border-radius: 25px;
        color: white;
        border: 1px solid #1f2937;
    }

        .glass-card p {
            color: #d1d5db;
        }

        .glass-card h1 {
            color: #f59e0b;
            font-weight: bold;
            font-size: 70px;
        }

    .btn-login {
        background: #f59e0b;
        border: none;
        color: black;
        font-weight: bold;
        border-radius: 12px;
        padding: 12px;
        font-size: 20px;
    }

        .btn-login:hover {
            background: #fbbf24;
        }

    .btn-register {
        border-radius: 12px;
        padding: 12px;
        font-size: 20px;
        border: 1px solid #f59e0b;
        color: #f59e0b;
    }

        .btn-register:hover {
            background: #f59e0b;
            color: black;
        }
</style>


<div class="container-fluid vh-100 d-flex align-items-center justify-content-center">
    <div class="card shadow-lg border-0 p-5 text-center glass-card" style="max-width: 700px; border-radius: 25px;">

        <h1 class="display-3 fw-bold text-primary">
            EASYPI
        </h1>

        <p class="lead text-white mt-4">
            A Recipe System for beginners!
        </p>

        <div class="text-center mt-5">

            <a asp-area="Identity"
               asp-page="/Account/Login"
               class="btn btn-login btn-lg shadow px-5">
                Login
            </a>

        </div>

    </div>

</div>